body {
   border: 5px solid black; 
   width: 400px;
}

#display {
    /* border: 1px solid red; */
    width: 400px;
    height: 120px;
    font-size: 75px;
    text-align: end;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(185, 180, 180);
}

button {
    font-size: 60px;
    width: 100px;
    height: 120px;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}

#zero {
     width: 200px; 
}

.operator {
    background-color: rgb(15, 165, 83);
}

.operand {
    background-color: grey;
}

.equals, .decimal {
    background-color: orange;
}

.sign, .clear, .percent {
    background-color: rgb(12, 86, 172);
}